name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: configure
      run: ls

    - name: Install dependencies
      run: make

    - name: Run check
      run: ls

    - name: Run install
      run: make install
